<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>計劃排程</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/index.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/header.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/sidebar.css}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script th:src="@{/static/js/sidebar.js}"></script>
</head>
<style>
	/* Table Styles */
	table {
		width: 100%;
		margin-top: 20px;
		table-layout: auto;
		/* This allows for automatic column width adjustment */
	}

	th,
	td {
		border-bottom: 1px solid #dee2e6;
		padding: 10px;
		text-align: left;
		white-space: nowrap;
		/* Prevents text from wrapping */
	}

	th {
		background-color: limegreen;
		color: white;
	}

	/* Row Hover Effect */
	tbody tr {
		transition: background-color 0.3s;
	}

	tbody tr:hover {
		background-color: #e9ecef;
		/* Light gray color on hover */
	}

	tbody tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	/* Container for the table to enable scrolling */
	.table-container {
		overflow-x: auto;
		/* Adds horizontal scrollbar */
	}
</style>

<body>
	<div th:include="layout/header::header"></div>
	<div class="main-container">
		<div th:replace="layout/sidebar::sidebar(${session.menus})" class="sidebar"></div>
		<div class="main-content">
			<!-- 這裡是主要內容區域 -->
			<header>
				<h1>種苗組管理</h1>
			</header>
			<div class="tab-container">
				<div class="tab-container">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation"><a class="nav-link active" id="seeding-report-tab"
								data-bs-toggle="tab" href="/production/group-seed" role="tab"
								aria-controls="seeding-report" aria-selected="true">播種報表</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link" id="watering-report-tab"
								data-bs-toggle="tab" href="/production/group-seed/tabs/watering" role="tab"
								aria-controls="watering-report" aria-selected="false">壓水報表</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link" id="dark-move-report-tab"
								data-bs-toggle="tab" href="/production/group-seed/tabs/darkroom-moving-out" role="tab"
								aria-controls="dark-move-report" aria-selected="false">暗移見報表</a>
						</li>
					</ul>

					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="seeding-report" role="tabpanel"
							aria-labelledby="seeding-report-tab">
							<!-- 播種報表內容 -->
							<main class="container flex-column w-100">
								<div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
									<ul class="mb-0">
										<li class="list-unstyled" th:text="${errorMessage}"></li>
									</ul>
								</div>
								<form method="get" action="/production/group-seed"
									class="container justify-content-end ">
									<div class="date-filter d-flex">
										<div class="d-flex flex-column">
											<label for="startDate">播種開始日期:</label> <input type="date" id="startDate"
												name="startDate" th:value="${startDate}">
										</div>
										<div class="d-flex flex-column">
											<label for="endDate">播種結束日期:</label> <input type="date" id="endDate"
												name="endDate" th:value="${endDate}">
										</div>
									</div>

									<div class="item-count-filter d-flex flex-column">
										<label for="size">顯示筆數:</label> <select id="size" name="size">
											<option th:each="option : ${session.options}" th:value="${option}"
												th:text="${option}" th:selected="${option == size}"></option>
										</select>
									</div>
									<button type="submit">搜尋</button>
								</form>
								<form method="get" action="/production/download/seedDailyExcel"
									class="container justify-content-end mt-2">
									<input type="submit" class="btn btn-outline-secondary" value="下載播種日報表" />
								</form>
								<form method="post" action="/production/upload/dailyReport/seeding"
									enctype="multipart/form-data" class="container justify-content-end mt-2">
									<input type="file" name="uploadFile" class="btn btn-outline-secondary" />
									<input type="submit" class="btn btn-outline-secondary" value="上傳播種日報表" />
								</form>
								<div class="table-container">
									<table>
										<thead>
											<tr>
												<th>工單號</th>
												<th>品項</th>
												<th>播種盤數</th>
												<th>見苗盤數</th>
												<th>見苗儲位</th>
												<th>播種日</th>
												<th>壓水日</th>
												<th>見苗日</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${#lists.isEmpty(plans.content)}">
												<td colspan="8" style="text-align: center;">沒有資料</td>
											</tr>
											<tr th:each="plan : ${plans.content}">
												<td th:text="${plan.manuNo}"></td>
												<td th:text="${plan.product.specs}"></td>
												<td th:text="${plan.seedingBoardCount}"></td>
												<td th:text="${plan.headOutBoardCount}"></td>
												<td th:text="${plan.sStockId!=null?plan.sStockId.position:''}"></td>
												<td th:text="${#dates.format(plan.seedingDate, 'yyyy-MM-dd')}"></td>
												<td th:text="${#dates.format(plan.wateringDate, 'yyyy-MM-dd')}"></td>
												<td th:text="${#dates.format(plan.headOutDate, 'yyyy-MM-dd')}"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="pagination">
									<span th:if="${plans.hasPrevious()}"> <a
											th:href="@{/production/group-seed/tabs/seeding(page=${plans.number - 1}, size=${size}, startDate=${startDate}, endDate=${endDate})}">上一頁</a>
									</span> <span th:if="${plans.hasNext()}"> <a
											th:href="@{/production/group-seed/tabs/seeding(page=${plans.number + 1}, size=${size}, startDate=${startDate}, endDate=${endDate})}">下一頁</a>
									</span>
								</div>
							</main>
							<!-- 這裡放入播種報表的內容 -->
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>