<div th:fragment="header(userDetails)">
	<header class="navbar">
		<div class="header-left g-col-6 text-left container justify-content-start">
			<div class="menu-toggle" onclick="toggleSidebar()">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<img class="logo " th:src="@{static/images/dashboard.png}" alt="首頁"
				onclick="window.location.href='/dashboard'" />
		</div>
		<div class="header-right g-col-6 text-right">
			<img class="avatar" th:src="@{/avatar/{imgName}(imgName=${userDetails.imgName})}" alt="頭貼" />
			<span th:text="${userDetails.name}"></span>
			<button onclick="window.location.href='/logout'">登出</button>
		</div>
	</header>
</div>