<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>新增計劃排程</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/index.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/header.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/sidebar.css}">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script th:src="@{/static/js/sidebar.js}"></script>
<script>
	let rowId = 0;
	 function addRow() {
         rowId++;
         const template = document.getElementById('template-row');
         const newRow = template.cloneNode(true);
         newRow.id = 'add-row-'+rowId;
         newRow.querySelectorAll('input, select').forEach(element => {
             element.name = element.name.replace(/\$\{rowId\}/g, rowId);
             element.id = element.id.replace(/\$\{rowId\}/g, rowId);
         });
         const deleteButton = newRow.querySelector('button');
         deleteButton.setAttribute('data-row-id', rowId);
         document.getElementById('form-rows').appendChild(newRow);
     }
	function removeRow(button) {
		 const rowId = button.getAttribute('data-row-id');
		    
		    const row = document.getElementById('add-row-' + rowId);
		    if (row) {
		        row.remove();
		    }
	}
	 function filterTable(e) {
         const productId = document.getElementById('product-id');
         const tableContainer= document.getElementById('table-container');
         const productid = select.value;
         const rows = document.querySelectorAll('#data-table-body tr');
         

         rows.forEach(row => {
             const rowId = row.getAttribute('data-id');
             if (productid === 'all' || rowId === productid) {
                 row.classList.remove('d-none');
                 tableContainer.classList.remove('d-none');
             } else {
                 row.classList.add('d-none');
             }
         });
         const pStockId = document.getElementById('p-stock' + selectElement.getAttribute('data-row-id'));
         if (pStockId) {
             if (pStockId.classList.contains('d-none')) {
                 pStockId.classList.remove('d-none');
             } else {
                 pStockId.classList.add('d-none');
             }
         }
     }
</script>
</head>

<body>
	<div th:include="layout/header::header(${session.userDetails})"></div>
	<div class="main-container">
		<div th:replace="layout/sidebar::sidebar(${session.menus})"
			class="sidebar"></div>
		<div class="main-content">
			<!-- 這裡是主要內容區域 -->
			<header>
				<h1>計劃排程</h1>
			</header>
			<main class="container w-100">
				<div class="container my-4 flex-column">
					<div id="table-container" class="d-none">
						<div class="container">
							<div class="container">
								<h2 class="col-md-6 mb-3">基本資料</h2>
							</div>
						</div>
						<div class="container">
							<table class="table table-bordered ">
								<thead>
									<tr>
										<th>規格</th>
										<th>科別</th>
										<th>見苗天數</th>
										<th>育苗天數</th>
										<th>栽培天數</th>
										<th>見苗孔數</th>
										<th>育苗孔數</th>
										<th>栽培孔數</th>
										<th>見苗照度</th>
										<th>育苗照度</th>
										<th>栽培照度</th>
									</tr>
								</thead>
								<tbody id="data-table-body">
									<tr th:each="product : ${session.products}"
										th:data-id="${product.id}">
										<td th:text="${product.specs}"></td>
										<td th:text="${product.family}"></td>
										<td th:text="${product.sDays}"></td>
										<td th:text="${product.gDays}"></td>
										<td th:text="${product.pDays}"></td>
										<td th:text="${product.sHole}"></td>
										<td th:text="${product.gHole}"></td>
										<td th:text="${product.pHole}"></td>
										<td th:text="${product.sLux}"></td>
										<td th:text="${product.gLux}"></td>
										<td th:text="${product.pLux}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div>
						<div class="container justify-content-between">
							<h2 class="pl-0">生管預排</h2>
							<button type="button" class="btn mt-2 col-md-2"
								style="background-color: #d8d8d8; color: black;"
								onclick="addRow()">新增</button>
						</div>
					</div>
					<form id="dynamic-form" class="container flex-column"
						action="/production/create-plan">
						<div>
							<div id="form-rows" class="mb-6 mt-2">
								<div
									class="row flex-column border-top border-bottom border-2 pt-2"
									id="template-row">
									<div>
										<button type="button" data-row-id="0"
											onclick="removeRow(this)">x</button>
									</div>
									<div class="container ml-2 justify-content-end">
										<div class="col-md-6 mb-2">
											<label for="product-id">業務需求重量</label> <input
												id="harvest-board-count" type="number"
												class="form-control text-end" name="input7-${rowId}" min="1"
												step="1" placeholder="kg">
										</div>
										<div class="col-md-6 mb-2">
											<label for="product-id">品項</label> <select
												id="product-id-${rowId}" class="form-select"
												data-row-id="${rowId}" name="product-${rowId}"
												onchange="filterTable(e)">
												<option th:each="option : ${session.products}"
													th:value="${option.id}"
													th:text="${option.specs+'('+option.type+')'}"
													th:selected="${option == 0}"></option>
											</select>
										</div>
									</div>
									<div class="container ml-2 ml-2 justify-content-end">
										<div class="col-md-4 mb-2">
											<label for="s-stock-id">見苗儲位</label> <select id="s-stock-id"
												class="form-select" name="s-stock-${rowId}">
												<option th:each="option : ${session.stockList}"
													th:if="${option.stage} == 'S'" th:value="${option.id}"
													th:text="${option.position}" th:selected="${option == 0}"></option>
											</select>
										</div>
										<div class="col-md-4 mb-2">
											<label for="g-stock-id">育苗儲位</label> <select id="g-stock-id"
												class="form-select" name="g-stock-${rowId}">
												<option th:each="option : ${session.stockList}"
													th:if="${option.stage} == 'G'" th:value="${option.id}"
													th:text="${option.position}" th:selected="${option == 0}"></option>
											</select>
										</div>
										<div class="col-md-4 mb-2">
											<label for="p-stock-id">栽培儲位</label> <select id="p-stock-id"
												class="form-select" name="p-stock-${rowId}">
												<option th:each="option : ${session.stockList}"
													th:if="${option.stage} == 'P'" th:value="${option.id}"
													th:text="${option.position}" th:selected="${option == 0}"></option>
											</select>
										</div>
									</div>
									<div class="container">
										<div class="col-md-2 mb-2 ">
											<label for="seeding-date">定案播種日</label> <input type="date"
												id="seeding-date" class="form-control"
												name="input1-${rowId}">
										</div>
										<div class="col-md-2 mb-2 ">
											<label for="watering-date">定案壓水日</label> <input type="date"
												id="watering-date" class="form-control"
												name="input2-${rowId}">
										</div>
										<div class="col-md-2 mb-2 ">
											<label for="head-out-date">定案見苗日</label> <input type="date"
												id="head-out-date" class="form-control"
												name="input3-${rowId}">
										</div>
										<div class="col-md-2 mb-2 ">
											<label for="growing-date">定案育苗日</label> <input type="date"
												id="growing-date" class="form-control"
												name="input4-${rowId}">
										</div>
										<div class="col-md-2 mb-2 ">
											<label for="mature-date">定案栽培日</label> <input type="date"
												id="mature-date" class="form-control" name="input5-${rowId}">
										</div>
										<div class="col-md-2 mb-2 ">
											<label for="harvest-date">定案採收日</label> <input type="date"
												id="harvest-date" class="form-control"
												name="input6-${rowId}">
										</div>
									</div>
									<div class="container">
										<div id="" class="col-md-2 mb-2">
											<label for="seeding-board-count">預計播種盤數</label> <input
												id="seeding-board-count" type="number"
												class="form-control text-end" name="input7-${rowId}" min="1"
												step="1">
										</div>
										<div class="col-md-2 mb-2">
											<label for="watering-board-count">預計壓水盤數</label> <input
												id="watering-board-count" type="number"
												class="form-control text-end" name="input7-${rowId}" min="1"
												step="1">
										</div>
										<div class="col-md-2 mb-2">
											<label for="head-out-board-count">預計見苗盤數</label> <input
												id="head-out-board-count" type="number"
												class="form-control text-end" name="input7-${rowId}" min="1"
												step="1">
										</div>
										<div class="col-md-2 mb-2">
											<label for="growing-board-count">預計育苗盤數</label> <input
												id="growing-board-count text-end" type="number"
												class="form-control text-end" name="input7-${rowId}" min="1"
												step="1">
										</div>
										<div class="col-md-2 mb-2">
											<label for="mature-board-count">預計栽培盤數</label> <input
												id="mature-board-count text-end" type="number"
												class="form-control" name="input7-${rowId}" min="1" step="1">
										</div>
										<div class="col-md-2 mb-2">
											<label for="harvest-board-count">預計採收盤數</label> <input
												id="harvest-board-count text-end" type="number"
												class="form-control" name="input7-${rowId}" min="1" step="1">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="container justify-content-end mt-2">
							<input type="submit" value="送出" />
						</div>
					</form>
				</div>
			</main>
		</div>
	</div>
</body>

</html>